body{	background-color: #000000;
	color: #cccccc;
	font-family: "Helvetica"; }
a{	text-decoration: none;
	color: #0000ff; }
a:hover{	color: #aaaaff; }
a:visited{	color: #7777ff; }
td.center{	align: center; }

.frame{	border: 2px solid;
	background-color: #222222;
	border-color: #444444;
	border-radius: 5px;
	padding: 5px; }
.center{	text-align: center; }
